<div class="container">
  <table class="table table-bordered">
  <% @archives.each do |archive| %>
    <tr>
      <td class="file file-zip"><a href="/download/<%= archive.id %>"><%= archive.name %></a></td>
      <td><%= archive.teacher %></td>
      <td><%= archive.size_in_mb %></td>
      <td><%= archive.downloads %></td>
    </tr>
  <% end %>
</table>
</div>